<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/template :: header">
</head>
<body>
<nav th:replace="/layout/template :: navegacion"></nav>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card mt-5">
				<div class="card-header"></div>
				<div class="card-body">
				<a class="btn btn-primary" href="/tours/form">Registrar Tours</a>
						<table class="table mt-3">
							<thead class="thead-dark">
								<tr>
									<th scope="col">CODIGO</th>
									<th scope="col">DESTINO</th>
									<th scope="col">PRECIO</th>
									<th scope="col">AGENCIA ID</th>
									<th scope="col">EDITAR</th>
									<th scope="col">ELIMINAR</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tour : ${tours}">
									<th scope="row" th:text="${tour.codigo}"></th>
									<td th:text="${tour.destino}"></td>
									<td th:text="${tour.precio}"></td>
									<td th:text="${tour.agencia_id}"></td>
									<td><a class="btn btn-warning"
										th:href="@{/tours/form/} +${tour.codigo}" th:text="Editar"></a></td>
									<td><a class="btn btn-danger"
										th:href="@{/tours/eliminar/} +${tour.codigo}" th:text="Eliminar" onclick="return confirm('Estas seguro de eliminar')"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
		</div>		
	</div>
</div>
<footer th:replace="/layout/footer :: pie"></footer>
</body>
</html>